<div class="hm-quick-card hm-quick-status-<%= @status %>">
  <div class="hm-quick-emoji">
    <%= case @status
        when :success then '✓'
        when :info    then 'ℹ'
        when :warning then '⚠'
        else '✕'
        end %>
  </div>
  <h1 class="hm-quick-title"><%= h @title %></h1>
  <% if @user %>
    <p class="hm-quick-user"><%= h @user.name %></p>
  <% end %>
  <% if @details %>
    <p class="hm-quick-details"><%= h @details %></p>
  <% end %>
  <% if @snapshot %>
    <dl class="hm-quick-snapshot">
      <% worked = @snapshot[:worked_seconds_today].to_i %>
      <% target = @snapshot[:daily_target_seconds].to_i %>
      <dt><%= l(:label_hm_timeclock_worked_today) %></dt>
      <dd><%= hm_quick_format_hm(worked) %></dd>
      <% if target.positive? %>
        <dt><%= l(:label_hm_timeclock_target_today) %></dt>
        <dd><%= hm_quick_format_hm(target) %></dd>
        <% if worked >= target %>
          <dt><%= l(:label_hm_timeclock_overtime) %></dt>
          <dd>+<%= hm_quick_format_hm(worked - target) %></dd>
        <% elsif @snapshot[:expected_end_unix] %>
          <dt><%= l(:label_hm_timeclock_expected_end) %></dt>
          <dd><%= Time.at(@snapshot[:expected_end_unix]).in_time_zone(@user.time_zone || Time.zone).strftime('%H:%M') %></dd>
        <% end %>
      <% end %>
    </dl>
  <% end %>
  <p class="hm-quick-back">
    <a href="<%= hr_timeclock_path %>"><%= l(:hm_quick_open_full) %></a>
  </p>
</div>
