<div id="hm-absence-modal" class="hm-tc-popup" role="dialog" aria-modal="true" aria-hidden="true"
     data-admin="<%= User.current.admin? ? '1' : '0' %>">
  <div class="hm-tc-popup-inner hm-tc-absence-modal-inner">
    <h3 class="hm-tc-absence-modal-title"><%= l(:label_hm_absence_modal_title) %></h3>
    <%= form_with url: hr_absences_path, method: :post, scope: :hm_absence, local: true,
                  html: { id: 'hm-absence-modal-form' } do |f| %>
      <% if User.current.admin? %>
        <div class="hm-tc-absence-modal-row" id="hm_absence_user_row">
          <%= f.label :user_id, l(:label_hm_absence_for_user) %>
          <%= f.select :user_id,
                       ([[l(:label_hm_absence_for_company), '']] +
                        User.active.where.not(type: 'AnonymousUser').sorted.pluck(:firstname, :lastname, :login, :id)
                          .map { |fn, ln, lg, id| ["#{fn} #{ln} (#{lg})", id] }),
                       { include_blank: false },
                       { id: 'hm_absence_user_id' } %>
          <em class="info"><%= l(:label_hm_absence_admin_auto_approved) %></em>
        </div>
      <% end %>
      <div class="hm-tc-absence-modal-row">
        <%= f.label :kind, l(:label_hm_absence_kind) %>
        <%= f.select :kind,
                     (User.current.admin? ?
                       [[l(:label_hm_hr_vacation),   HmAbsence::KIND_VACATION],
                        [l(:label_hm_hr_sickness),   HmAbsence::KIND_SICKNESS],
                        [l(:label_hm_hr_offsite),    HmAbsence::KIND_OFFSITE],
                        [l(:label_hm_hr_homeoffice), HmAbsence::KIND_HOMEOFFICE],
                        [l(:label_hm_hr_care),       HmAbsence::KIND_CARE],
                        [l(:label_hm_hr_school),     HmAbsence::KIND_SCHOOL],
                        [l(:label_hm_hr_block),      HmAbsence::KIND_BLOCK]] :
                       [[l(:label_hm_hr_vacation), HmAbsence::KIND_VACATION],
                        [l(:label_hm_hr_sickness), HmAbsence::KIND_SICKNESS],
                        [l(:label_hm_hr_offsite),  HmAbsence::KIND_OFFSITE]]),
                     {}, { id: 'hm_absence_kind' } %>
      </div>
      <div class="hm-tc-absence-modal-row">
        <%= f.label :starts_on, l(:label_hm_absence_starts_on) %>
        <%= f.date_field :starts_on, required: true, id: 'hm_absence_starts_on' %>
      </div>
      <div class="hm-tc-absence-modal-row">
        <%= f.label :ends_on, l(:label_hm_absence_ends_on) %>
        <%= f.date_field :ends_on, required: true, id: 'hm_absence_ends_on' %>
      </div>
      <div class="hm-tc-absence-modal-row">
        <%= f.label :reason, l(:label_hm_absence_reason) %>
        <%= f.text_area :reason, rows: 3, id: 'hm_absence_reason' %>
      </div>
      <div class="hm-tc-absence-modal-row hm-tc-offsite-only" id="hm_absence_recurrence_row" hidden>
        <%= f.label :recurrence, l(:label_hm_recurrence) %>
        <%= f.select :recurrence,
                     [[l(:label_hm_recurrence_none),        HmAbsence::RECURRENCE_NONE],
                      [l(:label_hm_recurrence_weekly),      HmAbsence::RECURRENCE_WEEKLY],
                      [l(:label_hm_recurrence_biweekly),    HmAbsence::RECURRENCE_BIWEEKLY],
                      [l(:label_hm_recurrence_four_weekly), HmAbsence::RECURRENCE_4_WEEKLY],
                      [l(:label_hm_recurrence_monthly),     HmAbsence::RECURRENCE_MONTHLY],
                      [l(:label_hm_recurrence_quarterly),   HmAbsence::RECURRENCE_QUARTERLY],
                      [l(:label_hm_recurrence_half_yearly), HmAbsence::RECURRENCE_HALFYEARLY],
                      [l(:label_hm_recurrence_yearly),      HmAbsence::RECURRENCE_YEARLY]],
                     {}, { id: 'hm_absence_recurrence' } %>
      </div>
      <div class="hm-tc-absence-modal-row hm-tc-offsite-only" id="hm_absence_recurrence_until_row" hidden>
        <%= f.label :recurrence_until, l(:label_hm_recurrence_until) %>
        <%= f.date_field :recurrence_until, id: 'hm_absence_recurrence_until' %>
      </div>
      <div class="hm-tc-absence-modal-actions">
        <%= submit_tag l(:button_hm_absence_request), class: 'button-positive' %>
        <button type="button" class="hm-tc-absence-modal-cancel"><%= l(:button_cancel) %></button>
      </div>
    <% end %>
  </div>
</div>
