<% tz = User.current.time_zone || Time.zone %>
<div class="hm-tc-correction-banner">
  <h3><%= l(:label_hm_timeclock_long_shift_title) %></h3>

  <p>
    <%= l(:label_hm_timeclock_long_shift_intro,
          started_at: pc[:started_at_label],
          hours: pc[:open_hours]) %>
  </p>

  <p>
    <% if pc[:last_seen_at_label] %>
      <strong><%= l(:label_hm_timeclock_last_seen) %>:</strong>
      <%= pc[:last_seen_at_label] %>
    <% else %>
      <em><%= l(:label_hm_timeclock_no_last_seen) %></em>
    <% end %>
  </p>

  <%= form_with url: correct_hm_timeclock_path(id: pc[:id]),
                method: :post,
                local: true,
                html: { class: 'hm-tc-correction-form' } do %>
    <div class="hm-tc-correction-row">
      <label for="hm_correction_ended_at"><%= l(:label_hm_timeclock_correction_set_end) %></label>
      <%= text_field_tag :ended_at,
                         Time.at(pc[:suggested_end_unix]).in_time_zone(tz).strftime('%Y-%m-%dT%H:%M'),
                         type: 'datetime-local',
                         id: 'hm_correction_ended_at',
                         required: true,
                         min: Time.at(pc[:started_at_unix]).in_time_zone(tz).strftime('%Y-%m-%dT%H:%M'),
                         max: Time.at(pc[:now_unix]).in_time_zone(tz).strftime('%Y-%m-%dT%H:%M'),
                         step: 60 %>
      <span class="hm-tc-correction-hint">
        <%= l(:label_hm_timeclock_correction_started, started_at: pc[:started_at_label]) %>
      </span>
    </div>
    <p>
      <%= submit_tag l(:button_hm_timeclock_correction_save), class: 'button-positive' %>
    </p>
  <% end %>
</div>
