<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'hm_timeclock', plugin: 'redmine_hm_cratchmere' %>
<% end %>

<div class="contextual">
  <%= link_to l(:label_hm_timeclock_navbar), hm_timeclock_path, class: 'icon icon-time' %>
</div>

<h2><%= l(:label_hm_timeclock_settings) %></h2>

<% effective_daily_h  = (@user_setting.effective_daily_target_minutes  / 60.0).round(2) %>
<% effective_weekly_h = (@user_setting.effective_weekly_target_minutes / 60.0).round(2) %>
<% effective_break_h  = (@user_setting.effective_max_break_minutes     / 60.0).round(2) %>
<% template          = @user_setting.hm_employment_type %>

<% if template %>
  <p class="hm-tc-setting-template">
    <strong><%= l(:label_hm_employment_type) %>:</strong>
    <%= h(template.name) %>
    <em>(<%= l(:label_hm_setting_template_note) %>)</em>
  </p>
<% end %>

<%= form_with model: @user_setting,
              url: edit_hm_timeclock_settings_path,
              method: :patch,
              scope: :hm_user_setting,
              local: true,
              html: { class: 'hm-tc-settings-form' } do |f| %>
  <div class="box tabular">
    <p>
      <%= f.label :daily_target_hours, l(:label_hm_timeclock_required_daily) %>
      <%= number_field_tag 'hm_user_setting[daily_target_hours]',
                           @user_setting.daily_target_minutes ? (@user_setting.daily_target_minutes / 60.0) : nil,
                           min: 0, step: 0.5,
                           placeholder: effective_daily_h %>
      <em class="info"><%= l(:label_hm_setting_in_hours, value: effective_daily_h) %></em>
    </p>
    <p>
      <%= f.label :weekly_target_hours, l(:label_hm_timeclock_required_weekly) %>
      <%= number_field_tag 'hm_user_setting[weekly_target_hours]',
                           @user_setting.weekly_target_minutes ? (@user_setting.weekly_target_minutes / 60.0) : nil,
                           min: 0, step: 0.5,
                           placeholder: effective_weekly_h %>
      <em class="info"><%= l(:label_hm_setting_in_hours, value: effective_weekly_h) %></em>
    </p>
    <p>
      <%= f.label :max_break_hours, l(:label_hm_timeclock_max_break) %>
      <%= number_field_tag 'hm_user_setting[max_break_hours]',
                           @user_setting.max_break_minutes ? (@user_setting.max_break_minutes / 60.0) : nil,
                           min: 0, step: 0.5,
                           placeholder: effective_break_h %>
      <em class="info"><%= l(:label_hm_setting_in_hours, value: effective_break_h) %></em>
    </p>
    <p>
      <%= f.label :notify_target_reached, l(:label_hm_timeclock_notify_target) %>
      <%= f.check_box :notify_target_reached %>
    </p>
    <p>
      <%= f.label :notify_break_over, l(:label_hm_timeclock_notify_break) %>
      <%= f.check_box :notify_break_over %>
    </p>
  </div>
  <p><%= submit_tag l(:button_hm_timeclock_save_settings), class: 'button-positive' %></p>
<% end %>

<h3><%= l(:label_hm_quick_links) %></h3>
<% api_key = User.current.api_key %>
<% base    = request.base_url %>
<p><%= l(:hint_hm_quick_links) %></p>
<dl class="hm-tc-quick-links">
  <dt><%= l(:label_hm_quick_link_start) %></dt>
  <dd><code><%= base %><%= hm_quick_path(do: 'start',  key: api_key) %></code></dd>
  <dt><%= l(:label_hm_quick_link_stop) %></dt>
  <dd><code><%= base %><%= hm_quick_path(do: 'stop',   key: api_key) %></code></dd>
  <dt><%= l(:label_hm_quick_link_toggle) %></dt>
  <dd><code><%= base %><%= hm_quick_path(do: 'toggle', key: api_key) %></code></dd>
</dl>
<p class="hm-tc-quick-warning">⚠ <%= l(:warning_hm_quick_links) %></p>
<p>
  <%= link_to l(:label_hm_quick_rotate_key), '/my/account', class: 'icon icon-key' %>
</p>
