<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'hm_timeclock', plugin: 'redmine_human_resources' %>
<% end %>

<h2><%= l(:label_hm_hr_homeoffice) %></h2>

<div class="hm-tc-meta">
  <div>
    <strong><%= l(:label_hm_homeoffice_allowed) %>:</strong>
    <%= @remaining[:allowed] %>
  </div>
  <div>
    <strong><%= l(:label_hm_homeoffice_used) %>:</strong>
    <%= hm_format_days(@remaining[:used]) %>
  </div>
  <div>
    <strong><%= l(:label_hm_homeoffice_remaining) %>:</strong>
    <%= hm_format_days(@remaining[:remaining]) %>
  </div>
</div>

<h3><%= l(:label_hm_absence_request_new_homeoffice) %></h3>
<%= render partial: 'hm_timeclock/absence_form', locals: {
      absence: @new_absence,
      form_url: hm_homeoffice_path,
      form_method: :post,
      submit_label: l(:button_hm_absence_request_homeoffice)
    } %>

<h3><%= l(:label_hm_absence_my_homeoffices) %></h3>
<%= render partial: 'hm_timeclock/absence_list', locals: { absences: @absences } %>

<h3><%= l(:label_hm_timeclock_calendar) %></h3>
<%= render partial: 'hm_timeclock/calendar', locals: {
      month: @month, entries: [], user: User.current,
      base_path: ->(m) { hm_homeoffice_path(month: m.strftime('%Y-%m')) },
      absences_by_day: @absences_by_day,
      clickable_for_absence: true,
      default_absence_kind: HmAbsence::KIND_HOMEOFFICE
    } %>

<%= render partial: 'hm_timeclock/absence_modal' %>
<%= render partial: 'hm_timeclock/absence_edit_modal' %>
