<div class="box tabular settings">
  <p>
    <label for="settings_default_daily_target_minutes"><%= l(:hm_settings_default_daily) %></label>
    <%= text_field_tag 'settings[default_daily_target_minutes]',
                       @settings['default_daily_target_minutes'], size: 6 %>
  </p>
  <p>
    <label for="settings_default_weekly_target_minutes"><%= l(:hm_settings_default_weekly) %></label>
    <%= text_field_tag 'settings[default_weekly_target_minutes]',
                       @settings['default_weekly_target_minutes'], size: 6 %>
  </p>
  <p>
    <label for="settings_default_max_break_minutes"><%= l(:hm_settings_default_break) %></label>
    <%= text_field_tag 'settings[default_max_break_minutes]',
                       @settings['default_max_break_minutes'], size: 6 %>
  </p>
  <p>
    <label for="settings_overtime_threshold_minutes"><%= l(:hm_settings_overtime_threshold) %></label>
    <%= text_field_tag 'settings[overtime_threshold_minutes]',
                       @settings['overtime_threshold_minutes'], size: 6 %>
  </p>
  <p>
    <label for="settings_enable_target_notifications"><%= l(:hm_settings_enable_target_notifications) %></label>
    <%= hidden_field_tag 'settings[enable_target_notifications]', '0' %>
    <%= check_box_tag 'settings[enable_target_notifications]', '1',
                      ['1', 1, true, 'true'].include?(@settings['enable_target_notifications']) %>
  </p>
  <p>
    <label for="settings_enable_break_notifications"><%= l(:hm_settings_enable_break_notifications) %></label>
    <%= hidden_field_tag 'settings[enable_break_notifications]', '0' %>
    <%= check_box_tag 'settings[enable_break_notifications]', '1',
                      ['1', 1, true, 'true'].include?(@settings['enable_break_notifications']) %>
  </p>
  <p>
    <label for="settings_poll_interval_seconds"><%= l(:hm_settings_poll_interval) %></label>
    <%= text_field_tag 'settings[poll_interval_seconds]',
                       @settings['poll_interval_seconds'], size: 4 %>
  </p>
  <p>
    <label for="settings_notification_emails"><%= l(:hm_settings_notification_emails) %></label>
    <%= text_area_tag 'settings[notification_emails]',
                      @settings['notification_emails'],
                      rows: 3, cols: 50,
                      placeholder: 'hr@example.com, lead@example.com' %>
    <em class="info"><%= l(:hm_settings_notification_emails_hint) %></em>
  </p>
  <p>
    <label for="settings_conflict_padding_days"><%= l(:hm_settings_conflict_padding_days) %></label>
    <%= text_field_tag 'settings[conflict_padding_days]',
                       @settings['conflict_padding_days'], size: 4 %>
  </p>
</div>
