<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'hm_timeclock', plugin: 'redmine_human_resources' %>
<% end %>

<h2><%= l(:label_hm_hr_sickness) %></h2>

<h3><%= l(:label_hm_absence_log_new_sickness) %></h3>
<%= render partial: 'hm_timeclock/absence_form', locals: {
      absence: @new_absence,
      form_url: hm_sickness_path,
      form_method: :post,
      submit_label: l(:button_hm_absence_log_sickness)
    } %>

<h3><%= l(:label_hm_absence_my_sicknesses) %></h3>
<%= render partial: 'hm_timeclock/absence_list', locals: { absences: @absences } %>

<h3><%= l(:label_hm_timeclock_calendar) %></h3>
<%= render partial: 'hm_timeclock/calendar', locals: {
      month: @month, entries: [], user: User.current,
      base_path: ->(m) { hm_sickness_path(month: m.strftime('%Y-%m')) },
      absences_by_day: @absences_by_day,
      clickable_for_absence: true,
      default_absence_kind: HmAbsence::KIND_SICKNESS
    } %>

<%= render partial: 'hm_timeclock/absence_modal' %>
<%= render partial: 'hm_timeclock/absence_edit_modal' %>
