<p><%= l(:mail_body_hr_absence_decided_intro,
        user: h(@user.name),
        kind: h(HrAbsence.kind_label(@absence.kind)),
        status: h(HrAbsence.status_label(@absence.status))).html_safe %></p>

<p>
  <strong><%= l(:label_hr_absence_period) %>:</strong>
  <%= I18n.l(@absence.starts_on) %> – <%= I18n.l(@absence.ends_on) %>
</p>
<p>
  <strong><%= l(:mail_label_working_days, count: @breakdown[:working]) %></strong>
</p>

<% if @absence.approver %>
  <p>
    <strong><%= l(:label_hr_absence_approved_by) %>:</strong>
    <%= h @absence.approver.name %>
    <% if @absence.approved_at %>
      &middot; <%= (I18n.l(@absence.approved_at, format: :default) rescue @absence.approved_at.to_s) %>
    <% end %>
  </p>
<% end %>

<hr>
<p>
  <%= link_to l(:mail_link_view_in_redmine),
              url_for(controller: 'hr_vacation', action: 'show', only_path: false) %>
</p>
